body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #4269b2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

/* Navbar */
.leftchev {
  width: 50px;
}

/* countries */
.individual-countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 900px) {
  .individual-countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

.one-country {
  aspect-ratio: 1/1;
  background: #4167af;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 15px;
}

.initials {
  align-self: center;
  font-size: 10vw;
  color: #2d4573;
  margin: 0;
  padding: 0;
}

.nav-to {
  align-self: flex-end;
  margin: 0;
  padding: 0;
  color: #f0f5fe;
  font-size: 3vw;
  text-transform: uppercase;
  text-decoration: none;
}

.holiday-counter {
  align-self: flex-end;
  margin: 0;
  padding: 0;
  color: #f0f5fe;
  font-size: 15px;
}

.holidays-count {
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: right;
  vertical-align: text-top;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.righter {
  width: 50px;
  align-self: flex-end;
  color: #f0f5fe;
}

.one-country:nth-child(odd) {
  background-color: #3e61a4;
}
